@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-select";
$prefixClsPopper:"#{$global-prefix}-popper";
$prefixClsPopover:"#{$global-prefix}-popover";
 

.#{$prefixCls}{
    position: relative;
    display: inline-block;

    ul{
        margin-bottom:0;
    }

    &-option{
        height:36px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding:0 16px;
        border-radius: 0;

        &_selected{
            color:$primary-color;
            background-color: rgba(0,0,0,.1);
        }

        &_disabled{
            color:rgba(0,0,0,.2);
            cursor: not-allowed;
        }
    }

    &-popover{
        max-height: 300px;
        min-width:242px;
        overflow-y: scroll;

        .#{$prefixClsPopover}-inner-content{
            padding:0;
        }
    }

    .#{$prefixClsPopper}{
        z-index: #{$global-backdrop-zindex}+1;
        &-top,&-top-start,&-top-end{
            &.popper-tooltip{
                bottom:0px!important;
            }
        }
        &-bottom,&-bottom-start,&-bottom-end{
            &.popper-tooltip{
                top:0px!important;
            }
        }
        &-right,&-right-start,&-right-end{
            &.popper-tooltip{
                left:0px!important;
            }
        }
        &-left,&-left-start,&-left-end{
            &.popper-tooltip{
                right:0px!important;
            }
        }
    }

    .arrow-down{
        transition:all .3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &-focus{
            transform:rotate(180deg);
            color:$primary-color;
        }
    }

    &-select-lists,&-select-lists>li{
         
    }
    
    &-select-lists{
        width: 100%;
        padding: 8px 0;
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
    }
    
}

 
 
 


