 
@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-message"; 
$prefixClsNotice:"#{$global-prefix}-notice"; 

.#{$prefixCls}{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:16px;
}