 
@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-message"; 
$prefixClsNotice:"#{$global-prefix}-notice"; 

.#{$prefixCls}{
 
        .#{$prefixClsNotice}{
            margin:0 auto;
        }
   
}