
@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-datepicker";
$prefixClsDay:"#{$global-prefix}-datepicker-container-monthday-content-day";
 

.#{$prefixCls}{
    color: #2196f3;
    background-color: #fff;
    width: 310px;

    @media (min-width: 600px){
        &-display {
            padding-left: 24px;
            padding-right: 24px;
            font-weight: 700;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: currentColor;
            height:100px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &-year{
                position: relative;
                overflow: hidden;
                margin: 0;
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                height: 16px;
                opacity: .7;
                -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
                transition: all .45s cubic-bezier(.23,1,.32,1);
                margin-bottom: 10px;
                color: #fff;

                &-title{
                    cursor: pointer;
                }
            }

            &-monthday{
                position: relative;
                display: block;
                overflow: hidden;
                font-size: 36px;
                line-height: 36px;
                height: 38px;
                -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
                transition: all .45s cubic-bezier(.23,1,.32,1);
                width: 100%;
                font-weight: 500;
                color: #fff;

                &-title{
                    cursor: default;
                    width: 100%;
                    display: block;
                
                }
            }
        }
    }

    &-container{
        padding-bottom: 8px;
        flex-direction: column;
        font-size: 12px;
        font-weight: 400;
        padding: 0 8px;
        -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
        transition: all .45s cubic-bezier(.23,1,.32,1);

        &-titleWrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;

           
        }

        &-title{
            cursor: pointer;
            color: rgba(0,0,0,.87);
            font-size: 14px;

            &:hover{
                color:currentColor;
            }
        }

        &-week{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            height: 20px;
            line-height: 15px;
            opacity: .5;
            text-align: center;
            color: rgba(0,0,0,.87);

            &-day{
                width: 42px;
            }
        }

        &-monthday{
            position: relative;
            overflow: hidden;
            height: 214px;
          

            &-content{
                -webkit-box-orient: vertical;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                font-weight: 400;
                line-height: 2;
                position: relative;
                text-align: center;

                &-empty{
                    font-weight: 400;
                    padding: 4px 0;
                    position: relative;
                    width: 42px;
                }

                &-row{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    height:34px;
                    margin-bottom:2px;
                }

                &-day{
                    display: inline-block;
                    background: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    outline: none;
                    text-decoration: none;
                    cursor: pointer;
                    margin: 0;
                    padding: 4px 0;
                    font-size: inherit;
                    font-weight: 400;
                    position: relative;
                    border: 10px;
                    width: 42px;
                    color: inherit;

                    &.selected{
                        .#{$prefixClsDay}-big{
                            transform: scale(1);
                            opacity:1;
                        }
                        .#{$prefixClsDay}-text{
                            color:#fff;
                        }
                    }


                    &-big{
                        position: absolute;
                        top: 0;
                        left: 4px;
                        height: 34px;
                        background-color: currentColor;
                        border-radius: 50%;
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                        -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
                        transition: all .45s cubic-bezier(.23,1,.32,1);
                        width: 34px;

                        
                    }
                    
                    &-text{
                        font-weight: 400;
                        position: relative;
                        color: rgba(0,0,0,.87);

                        &.now{
                            color:currentColor;
                        }
                    }

                    
                    &:hover{

                        .#{$prefixClsDay}-big{
                            transform: scale(1);
                            opacity: .6;
                        }

                        .#{$prefixClsDay}-text{
                            color:#fff;
                        }

                    }
                    
                }
            }
        }
    }
    
}