
@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-datepicker";
$prefixClsDayMonthDay:"#{$global-prefix}-datepicker-container-day-monthday-content-day";
$prefixClsMonth:"#{$global-prefix}-datepicker-container-month-month-content";
$prefixClsYear:"#{$global-prefix}-datepicker-container-year-year-button";

$time:450ms;
 

.#{$prefixCls}{
    color: $primary-color;
    background-color: #fff;
    width: 310px;

    &.#{$prefixCls}-landscape{
        width:479px;
        display:flex;
        justify-content: space-between;

        @media (min-width: 600px){
            .#{$prefixCls}-display{
                padding-top:24px;
            }
        }

        .#{$prefixCls}-display{
            width: 165px;
            height: auto;
            padding-top: 16px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 2px;
            position: relative;
            justify-content:flex-start;
            box-sizing: border-box;

            &-monthday{
                 height: 245px;
            }
        }
        .#{$prefixCls}-container-day{
            flex:1;
        }
        .#{$prefixCls}-container-month{
            flex:1;
        }
        .#{$prefixCls}-container-year{
            flex:1;
        }
    }

    &.#{$prefixCls}-disabled{
        cursor: not-allowed;
         
        .#{$prefixCls}-container-day{
            *{
                cursor: not-allowed;
            }
        }
        .#{$prefixCls}-container-month{
            *{
                cursor: not-allowed;
            }
        }
        .#{$prefixCls}-container-year{
            *{
                cursor: not-allowed;
            }
        }
    }

    @media (min-width: 600px){
        &-display {
            padding-left: 24px;
            padding-right: 24px;
            font-weight: 700;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: currentColor;
            height:100px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &-year{
                position: relative;
                overflow: hidden;
                margin: 0;
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                height: 16px;
                opacity: .7;
                -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
                transition: all .45s cubic-bezier(.23,1,.32,1);
                margin-bottom: 10px;
                color: #fff;

                &-title{
                    cursor: pointer;
                }
            }

            &-monthday{
                position: relative;
                display: block;
                overflow: hidden;
                font-size: 36px;
                line-height: 36px;
                height: 38px;
                -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
                transition: all .45s cubic-bezier(.23,1,.32,1);
                width: 100%;
                font-weight: 500;
                color: #fff;

                &-title{
                    cursor: default;
                    width: 100%;
                    display: block;
                
                }
            }
        }
    }

    &-container-day{
    
        flex-direction: column;
        font-size: 12px;
        font-weight: 400;
        padding: 0 8px;
        -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
        transition: all .45s cubic-bezier(.23,1,.32,1);
        padding-bottom: 8px;

        &-titleWrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height:48px;
            overflow: hidden;
           
        }

        &-title{
            position: relative;
            overflow: hidden;
            height: 100%;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            width: 100%;
            cursor: pointer;

            &-text{
                 
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                line-height: 48px;
                color: rgba(0,0,0,.87);
            
                &:hover{
                    color:currentColor;
                }
            } 
        }

        &-week{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            height: 20px;
            line-height: 15px;
            opacity: .5;
            text-align: center;
            color: rgba(0,0,0,.87);

            &-day{
                width: 42px;
            }
        }

        &-monthday{
            position: relative;
            overflow: hidden;
            height: 214px;
          

            &-content{
                -webkit-box-orient: vertical;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                font-weight: 400;
                line-height: 2;
                position: absolute;
                text-align: center;

                &-empty{
                    font-weight: 400;
                    padding: 4px 0;
                    position: relative;
                    width: 42px;
                }

                &-row{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    height:34px;
                    margin-bottom:2px;
                }

                &-day{
                    display: inline-block;
                    background: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    outline: none;
                    text-decoration: none;
                    cursor: pointer;
                    margin: 0;
                    padding: 4px 0;
                    font-size: inherit;
                    font-weight: 400;
                    position: relative;
                    border: 10px;
                    width: 42px;
                    color: inherit;

                    &.selected{
                        .#{$prefixClsDayMonthDay}-big{
                            transform: scale(1);
                            opacity:1;
                        }
                        .#{$prefixClsDayMonthDay}-text{
                            color:#fff;
                        }
                    }


                    &-big{
                        position: absolute;
                        top: 0;
                        left: 4px;
                        height: 34px;
                        background-color: currentColor;
                        border-radius: 50%;
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                        -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
                        transition: all .45s cubic-bezier(.23,1,.32,1);
                        width: 34px;

                        
                    }
                    
                    &-text{
                        font-weight: 400;
                        position: relative;
                        color: rgba(0,0,0,.87);

                        &.now{
                            color:currentColor;
                        }
                    }

                    
                    &:hover{

                        .#{$prefixClsDayMonthDay}-big{
                            transform: scale(1);
                            opacity: .6;
                        }

                        .#{$prefixClsDayMonthDay}-text{
                            color:#fff;
                        }

                    }
                    
                }
            }
        }
    }

    &-container-month{
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        font-size: 12px;
        font-weight: 400;
        padding: 0 8px;
        -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
        transition: all .45s cubic-bezier(.23,1,.32,1);
        padding-bottom: 8px;

        
        &-titleWrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height:48px;
            overflow: hidden;
           
        }

        &-title{
            position: relative;
            overflow: hidden;
            height: 100%;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            width: 100%;
            cursor: pointer;

            &-text{
                 
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                line-height: 48px;
                color: rgba(0,0,0,.87);
            
                &:hover{
                    color:currentColor;
                }
            } 
        }

        &-month{

           
            position: relative;
            overflow: hidden;
            height: 234px;

            &-content{

                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                position: absolute;
                width: 100%;
                height:100%;


                &-month{
                    display: inline-block;
                    background: none;
                    box-sizing: border-box;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    outline: none;
                    text-decoration: none;
                    cursor: pointer;
                    margin: 0;
                    font-size: inherit;
                    font-weight: 400;
                    position: relative;
                    border: 10px;
                    width: 84px;
                    height: 56px;
                    padding: 10px 0;
                    color: inherit;

                    &:hover{
                        .#{$prefixClsMonth}-bg{
                            transform:scale(1);
                            opacity: .6;
                        }
                        .#{$prefixClsMonth}-text{
                            color:#fff;
                            
                        }
                    }

                    
                    &.selected{
                        .#{$prefixClsMonth}-bg{
                            transform: scale(1);
                          
                        }
                        .#{$prefixClsMonth}-text{
                            color:#fff;
                        }
                    }

                    
                }
                &-bg{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 10px;
                    bottom: 10px;
                    background-color: currentColor;
                    border-radius: 2px;
                    transform: scale(0);
                    transition: all .2s linear;
                   
                }
                &-text{
                    color: rgba(0, 0, 0, 0.87);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    &.now{
                        color:currentColor;
                    }
                }
            }
        }

    }

    &-container-year{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 10px;
        width: 310px;
        height: 272px;
        overflow: hidden;
        padding-bottom: 8px;

        &-year{
            height: inherit;
            line-height: 35px;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            position: relative;

            &-list{
                
                display: flex;
              
                flex-direction: column;
            
                justify-content: center;
                min-height: 100%;
            }

            &-button{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                background: none;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                margin: 0 auto;
                padding: 0;
                font-size: 14px;
                font-weight: inherit;
                text-align: center;
                line-height: inherit;
                color: currentColor;
                border: none;
                height: 36px;

                &:hover{
                    background-color: rgba(0,0,0,.1);

                    .#{$prefixClsYear}-text{
                        color: currentColor;
                    }
                }

                &.selected{
                    height: 40px;
                    margin: 10px 0;

                    .#{$prefixClsYear}-text{
                        color: currentColor;
                        font-size: 26px;
                        font-weight: 500;
                    }
                }

                &-text{
                    color: rgba(0,0,0,.87);
                    font-size: 16px;
                    line-height: 1.1;
                    font-weight: 400;
                    position: relative;
                }
            }
        }

    }

    &-display-slide-monthday{
        
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        &-next{
 
            
            &-appear{
                transform: translate3d(0,100%,0);
                opacity: 1;
            }
            &-appear-active{
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                backface-visibility: hidden;
                transform: translate3d(0,0,0);
                opacity: 1;
            }
            &-exit{
                opacity:1;
                transform: translate3d(0,0,0);
            }
            &-exit-active {
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                transform: translate3d(0, 100%, 0);
                opacity: 1;
            }
        }

        &-prev{
            &-appear{
                transform: translate3d(0,-100%,0);
                opacity: 1;
            }
            &-appear-active{
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                backface-visibility: hidden;
                transform: translate3d(0,0,0);
                opacity: 1;
            }
            &-exit{
                opacity:1;
            }
            &-exit-active {
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                backface-visibility: hidden;
                transform: translate3d(0, -100%, 0);
                opacity: 1;
            }
        }
    }

    &-container-slide-title{
        &-next{
 
            
            &-appear{
                transform: translate3d(100%,0,0);
                opacity: 1;
            }
            &-appear-active{
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                backface-visibility: hidden;
                transform: translate3d(0,0,0);
                opacity: 1;
            }
            &-exit{
                opacity:1;
                transform: translate3d(0,0,0);
            }
            &-exit-active {
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                transform: translate3d(100%, 0, 0);
                opacity: 1;
            }
        }

        &-prev{
            &-appear{
                transform: translate3d(-100%,0,0);
                opacity: 1;
            }
            &-appear-active{
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                backface-visibility: hidden;
                transform: translate3d(0,0,0);
                opacity: 1;
            }
            &-exit{
                opacity:1;
            }
            &-exit-active {
                transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                backface-visibility: hidden;
                transform: translate3d(-100%, 0, 0);
                opacity: 1;
            }
        }
    }
    
}