@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-space";

.#{$prefixCls}{
    display: inline-flex;

    &-block{
        display: flex;
    }

    &-horizontal{
        align-items: center;
        flex-wrap: wrap;
        line-height: 0;
    }

    &-vertical{
        flex-direction: column;
    }
}

 
 
 


