@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-tree";

.#{$prefixCls}{
    &-treenode{
        display: flex;
        padding:0 0 4px;
        align-items: flex-start;

        &-switcher{
            flex: none;
            width: 24px;
            height: 24px;
            margin: 0;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            .wonderful-icon{
                font-size: 16px;
            }
        }
    }
}
     
     

 

 
 


