@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-tree";
$treenodePrefixCls:"#{$global-prefix}-tree-treenode";

.#{$prefixCls}{
    &-treenode{
        display: flex;
        padding:0 0 4px;
        align-items: flex-start;

        &-switcher{
            flex: none;
            width: 24px;
            height: 24px;
            margin: 0;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform .3s,-webkit-transform .3s;

            .wonderful-icon{
                font-size: 16px;
            }

            &.#{$treenodePrefixCls}-switcher-open{
                transform: rotate(90deg);
            }
        }

        &-content-wrapper{
            min-height: 24px;
            margin: 0;
            padding: 0 4px;
            color: inherit;
            line-height: 24px;
            background: 0 0;
            border-radius: 2px;
            cursor: pointer;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

        &-indent{
            &-unit{
                display: inline-block;
                width: 24px;
            }
        }
    }
}
     
     

 

 
 


