 
 
@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-upload";
 
.#{$prefixCls}{
    display: inline-block;
}
 
 
.list-item-enter{
    opacity:0;
}
 
.list-item-enter-active{
    opacity: 1;
    transition:opacity 500ms ease-in;
}

.list-item-exit{
    opacity: 1; 
}

.list-item-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-in;
}