 
.testAppBar{
    width:200px;
    height:200px;
}

@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-menu";
$prefixClsMenuItem:"#{$global-prefix}-menuitem";
$prefixClsSubMenu:"#{$global-prefix}-submenu";

.#{$prefixCls}{

    ul,li{
        list-style: none;
    }
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    margin-bottom: 0;
    padding-left: 0;
    color: rgba(0, 0, 0, 0.65);
    line-height: 0;
    list-style: none;
    background: #fff;
    outline: none;
    padding: 10px 5px;

    .#{$prefixClsMenuItem}-isSelected{
        background-color: $primary-color;
        @include boxShadowLevel(4);
        color:#fff;
    }
    
}

.#{$prefixClsMenuItem}{
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 0;
    padding-left:10px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom:10px;

    &-icon{
        padding:0 10px;

        .wonderful-icon{
            margin-right:10px;
        }
    }
    
}

.#{$prefixClsSubMenu}{
    
    border-radius: 4px;
    margin-bottom:10px;

    ul{
        padding-left: none;
    }

    &-icon{
        padding:0 10px;

        .wonderful-icon{
            margin-right:10px;
        }
    }

    &-title{
        min-height: 40px;
        line-height: 40px;
        display: block;
        margin: 0;
        padding-left:10px;
        white-space: nowrap;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom:10px;
        
        .wonderful-icon{
            transition: transform .3s;
        }

        span:nth-child(2){
            flex:1;
        }

        i:nth-child(3){
            margin-right: 0;
        }

        &.#{$prefixClsSubMenu}-expanded{
            .wonderful-icon{
                transform: rotate(-180deg);
                
            }
        }
    }

    &-fold{
        padding-left: 20px;
   
    }
    
}