 
 
@import "../Theme/styles/variable";

$prefixClsRow:"#{$global-prefix}-row";
$prefixClsCol:"#{$global-prefix}-col";
 

.#{$prefixClsRow}{
    display: flex;
}

 
.#{$prefixClsCol}{
    position: relative;
    @for $i from 1 through 24 {
        &-#{$i} {
            display: block;
            -webkit-box-flex: 0;//不可伸缩
            flex:0 0 100%/(24/$i); 
            max-width:100%/(24/$i);
        }
    }
    @for $offset from 1 through 24{
        &-offset-#{$offset}{
            margin-left: (100%/24) * $offset;
        }
    }
    
    @for $order from 1 through 100{
        &-order-#{$order}{
            order:$order;
        }
    }
 
    @for $push from 1 through 24{
        &-push-#{$push}{
            left: (100%/24) * $push;
        }
    }

    @for $pull from 1 through 24{
        &-pull-#{$pull}{
            right: (100%/24) * $pull;
        }
    }

    @for $span from 1 through 24{
        &-xs-#{$span}{
            display: block;
            -webkit-box-flex: 0;//不可伸缩
            flex:0 0 100%/(24/$span); 
            max-width:100%/(24/$span);
        }
    }

    @for $span from 1 through 24{
        @media (min-width: 576px){
            &-sm-#{$span}{
                display: block;
                -webkit-box-flex: 0;//不可伸缩
                flex:0 0 100%/(24/$span); 
                max-width:100%/(24/$span);
            }
        }
        
    }

    @for $span from 1 through 24{
        @media (min-width: 768px){
            &-md-#{$span}{
                display: block;
                -webkit-box-flex: 0;//不可伸缩
                flex:0 0 100%/(24/$span); 
                max-width:100%/(24/$span);
            }
        }
        
    }

    @for $span from 1 through 24{
        @media (min-width: 992px){
            &-lg-#{$span}{
                display: block;
                -webkit-box-flex: 0;//不可伸缩
                flex:0 0 100%/(24/$span); 
                max-width:100%/(24/$span);
            }
        }
        
    }

    @for $span from 1 through 24{
        @media (min-width: 1200px){
            &-xl-#{$span}{
                display: block;
                -webkit-box-flex: 0;//不可伸缩
                flex:0 0 100%/(24/$span); 
                max-width:100%/(24/$span);
            }
        }
        

        
    }

    @for $span from 1 through 24{
        @media (min-width: 1600px){
            &-xl-#{$span}{
                display: block;
                -webkit-box-flex: 0;//不可伸缩
                flex:0 0 100%/(24/$span); 
                max-width:100%/(24/$span);
            }
        }
        
    }

}
