@keyframes rotate
{
    0%{-webkit-transform:rotate(0deg);}
 
    25%{-webkit-transform:rotate(90deg);}

    50%{-webkit-transform:rotate(180deg);}

    75%{-webkit-transform:rotate(270deg);}

    100%{-webkit-transform:rotate(360deg);}
 
}

@-moz-keyframes rotate /* Firefox */
{
    0%{-webkit-transform:rotate(0deg);}
 
    25%{-webkit-transform:rotate(90deg);}

    50%{-webkit-transform:rotate(180deg);}

    75%{-webkit-transform:rotate(270deg);}

    100%{-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes rotate /* Safari 和 Chrome */
{
    0%{-webkit-transform:rotate(0deg);}
 
    25%{-webkit-transform:rotate(90deg);}

    50%{-webkit-transform:rotate(180deg);}

    75%{-webkit-transform:rotate(270deg);}

    100%{-webkit-transform:rotate(360deg);}
}


@-o-keyframes rotate /* Opera */
{
    0%{-webkit-transform:rotate(0deg);}
 
    25%{-webkit-transform:rotate(90deg);}

    50%{-webkit-transform:rotate(180deg);}

    75%{-webkit-transform:rotate(270deg);}

    100%{-webkit-transform:rotate(360deg);}
}

@keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
   
    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
   
    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
   
    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
   
    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-webkit-keyframes icon-bounce {
    0%, 75%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
   
    80% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
   
    85% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
   
    90% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
   
    95% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-moz-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
   
    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
   
    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
   
    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
   
    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-o-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
   
    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
   
    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
   
    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
   
    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }

  @keyframes notice_appear_right
{
  0%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-moz-keyframes notice_appear_right /* Firefox */
{
  0%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes notice_appear_right /* Safari 和 Chrome */
{
  0%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@-o-keyframes notice_appear_right /* Opera */
{
  0%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes notice_leave_right
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}

@-moz-keyframes notice_leave_right /* Firefox */
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes notice_leave_right /* Safari 和 Chrome */
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}


@-o-keyframes notice_leave_right /* Opera */
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}

@keyframes notice_appear_left
{
  0%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-moz-keyframes notice_appear_left /* Firefox */
{
  0%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes notice_appear_left /* Safari 和 Chrome */
{
  0%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@-o-keyframes notice_appear_left /* Opera */
{
  0%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes notice_leave_left
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
}

@-moz-keyframes notice_leave_left /* Firefox */
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes notice_leave_left /* Safari 和 Chrome */
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
}


@-o-keyframes notice_leave_left /* Opera */
{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
}