//定义主题色等
$primary-color:rgba(0,189,170,1);
$warning-color:rgba(252,227,138,1);
$danger-color:rgba(255,46,99,1);
$second-color:rgba(64,0,130,1);
$default-color:rgba(255,255,255,1);
$disabled-color:rgba(0,0,0,.3);
$info-color:rgba(7,121,228,1);
$success-color:rgba(107,198,0,1);

//禁止相关颜色
$disabled-text-color:#fff;

//定义主题字体大小
$normal-font-size:14px;
$small-font-size:12px;
$large-font-size:16px;

//定义主题圆角样式
$normal-border-radius: 4px;
$small-border-radius: 4px;
$large-border-radius: 4px;
$normal-circle-border-radius:50%;

//定义主题字体大小
$normal-text-color:#fff;


//全局文字placeholder颜色
$global-placeholder-color:rgba(0,0,0,.38);
//全局动画过渡时间
$global-transition-duration:300ms;
//全局动画过渡曲线
$global-transition-function:cubic-bezier(0.4, 0, 0.2, 1);
//全局动画延迟执行时间
$global-transition-delay-time:0ms;
//全局圆角
$global-border-radius:4px;




//全局前缀
$global-prefix:"parrot";
 