//定义主题色等
$primary-color:#08d9d6;
$warning-color:#fce38a;
$danger-color:#ff2e63;
$default-color:#fff;

//定义主题字体大小
$normal-font-size:14px;

//定义主题圆角样式
$normal-border-radius: 4px;

//定义主题字体大小
$normal-text-color:#fff;

 