@import "./theme";
@import "./mixin";
@import "./_animation";

 
//normal按钮样式
$button-normal-font-size:$normal-font-size;
$button-normal-min-width:88px;
$button-normal-height:36px;
$button-normal-border-radius:$normal-border-radius;
$button-normal-text-color:$normal-text-color;
$button-normal-background-color:$normal-text-color;

//small样式
$button-small-font-size:$small-font-size;
$button-small-min-width:68px;
$button-small-height:28px;
$button-small-border-radius:$small-border-radius;

//large样式
$button-large-font-size:$large-font-size;
$button-large-min-width:68px;
$button-large-height:44px;
$button-large-border-radius:$large-border-radius;

//primary按钮样式
$button-primary-background-color:$primary-color;

//warning按钮样式
$button-warning-background-color:$warning-color;

//danger按钮样式
$button-danger-background-color:$danger-color;

//secord按钮样式
$button-second-background-color:$second-color;

//disabled按钮样式
$button-disabled-background-color:$disabled-color;
$button-disabled-text-color:$disabled-text-color;

//info按钮样式
$button-info-background-color:$info-color;

//圆形按钮样式
$button-circle-border-radius:50%;
$button-small-circle-length:32px;
$button-normal-circle-length:46px;
$button-large-circle-length:66px;

//长方形按钮样式
$button-round-border-radius:$normal-border-radius;
$button-small-round-length:32px;
$button-normal-round-length:46px;
$button-large-round-length:66px;


//图标样式
$icon-normal-font-size:24px;
$icon-primary-color:$primary-color;
$icon-second-color:$second-color;
$icon-danger-color:$danger-color;
$icon-info-color:$info-color;
$icon-warning-color:$warning-color;


//input样式
$input-normal-color:rgba(0,0,0,.54);

//pager样式
$pager-text-color:rgba(0, 0, 0, 0.78);
$pager-background-color:rgba(255,255,255,1);
$pager-round-border-radius:$normal-border-radius;
$pager-circle-border-radius:$normal-circle-border-radius;

//input stylize:normal size:normal样式
$input-normal-underline-color:rgba(0, 0, 0, 0.42);
$input-normal-underline-focus-color:rgba(0, 0, 0, 1);
$input-normal-text-color:rgba(0, 0, 0, 0.54);
$input-normal-width:256px;//容器的宽度
$input-normal-padding-top-bottom:4px;//input框距离上下的距离
$input-normal-height:32px;//input框的高度
$input-normal-font-size:16px;//容器内的font-size大小
$input-normal-input-left:0;//浮动label距离左边的距离
$input-normal-container-top:14px;//容器内部上边框距离Input框的距离
$input-normal-float-label-top:24px;//浮动label距离上边的距离
$input-normal-float-label-focus-top:0;//浮动label距离上边的距离

//input stylize:filled size:normal样式
$input-filled-underline-color:rgba(0, 0, 0, 0.42);
$input-filled-underline-focus-color:rgba(0, 0, 0, 1);
$input-filled-text-color:rgba(0, 0, 0, 0.54);
$input-filled-background-color:rgba(0, 0, 0, 0.09);
$input-filled-width:256px;//容器的宽度
$input-filled-container-top:0px;
$input-filled-padding:20px 0 4px 16px;//input框距离上下的距离
$input-filled-height:32px;//input框的高度
$input-filled-font-size:16px;//容器内的font-size大小
$input-filled-input-left:8px;//浮动label距离左边的距离
$input-filled-float-label-top:20px;//浮动label距离上边的距离
$input-filled-float-label-focus-top:8px;//浮动label距离上边的距离
$input-filled-border-radius:$global-border-radius;
$input-filled-hover-background-color:rgba(0, 0, 0, 0.15);
$input-filled-max-height:56px;

//input stylize:outline size:normal样式
$input-outline-border-color:rgba(0, 0, 0, 0.42);
$input-outline-border-focus-color:rgba(0, 0, 0, 1);
$input-outline-text-color:rgba(0, 0, 0, 0.54);
$input-outline-background-color:rgba(255,255,255,1);
$input-outline-width:256px;//容器的宽度
$input-outline-container-top:0px;
$input-outline-padding:20px 0 4px 16px;//input框距离上下的距离
$input-outline-height:32px;//input框的高度
$input-outline-font-size:16px;//容器内的font-size大小
$input-outline-input-left:8px;//浮动label距离左边的距离
$input-outline-float-label-top:20px;//浮动label距离上边的距离
$input-outline-float-label-focus-top:8px;//浮动label距离上边的距离
$input-outline-border-radius:$global-border-radius;
$input-outline-hover-background-color:rgba(0, 0, 0, 0.15);
//浮动label
$input-normal-float-label-scale:0.85;
$input-normal-text-color:rgba(0, 0, 0, 0.87);


$radio-normal-height:24px;
$radio-normal-label-color:rgba(0,0,0,.87);
$radio-normal-label-font-size:16px;
$radio-normal-transition-function:cubic-bezier(.23,1,.32,1);
$radio-normal-transition-time:.45s;
$radio-normal-disabled-color:rgba(0,0,0,.38);


//ripple transition time
$ripple-animation-duration:500ms;
// animate
$easeOutFunction: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutFunction: cubic-bezier(0.445, 0.55, 0.55, 0.95);

