@import "./variable";

.wonderful-icon{
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size:$icon-normal-font-size;

    &-primary{
        color:$icon-primary-color;
    }

    &-info{
        color:$icon-info-color;
    }

    &-warning{
        color:$icon-warning-color;
    }

    &-danger{
        color:$icon-danger-color;
    }

    &-second{
        color:$icon-second-color;
    }

    &-spin{
        animation:rotate  1s linear infinite;
    }

    &-bounce{
        animation: icon-bounce  1s linear infinite;
    }
}