
@import "./variable";
$prefix:"#{$global-prefix}-input";

.#{$prefix}{
    
        &-container{

            
            &.#{$prefix}-is_focus{//聚焦事件样式
                color:$primary-color;

                .#{$prefix}-wrapper{
                    &::after{
                        transform:scaleX(1);
                    }
                }

                .#{$prefix}-float-label{
                    transform: translate($input-normal-input-left,$input-normal-float-label-focus-top) scale($input-normal-float-label-scale);
                }
            }

            &.has-value{
                color:$primary-color;

                .#{$prefix}-wrapper{
                    &::after{
                        transform:scaleX(1);
                    }
                }

                .#{$prefix}-float-label{
                    transform: translate($input-normal-input-left,$input-normal-float-label-focus-top) scale($input-normal-float-label-scale);
                }
            }

            width:$input-normal-width;
            background:none;
            border:none;
            outline:none;
            position: relative;
            font-size:$input-normal-font-size;

            &.has_float_label{
                padding-top:$input-normal-container-top;
            }

            .#{$prefix}-float-label{
                position:absolute;
                left:$input-normal-input-left;
                line-height: 1;
                top: 0;
                transform: translate($input-normal-input-left, $input-normal-float-label-top) scale(1);
                transition:transform $global-transition-duration $global-transition-function $global-transition-delay-time;
                transform-origin:top left;
            }
             
            .#{$prefix}-wrapper{
                width:100%;
                position: relative;
                display: flex;
                align-items: center;

                &:hover{
                    &::before{
                        border-bottom:2px solid $input-normal-underline-focus-color;
                    }
                }

                &::before{
                    content:"";
                    display:block;
                    position:absolute;
                    left:0;
                    right:0;
                    bottom:0;
                    transition: border-bottom-color $global-transition-duration  $global-transition-delay-time;
                    border-bottom:1px solid $input-normal-underline-color;
                    pointer-events: none;//不会触发时间响应
                }

                &-standInput{//input框
                    width:100%;
                    border:none;
                    background: none;
                    outline:none;
                    padding-top:$input-normal-padding-top-bottom;
                    padding-bottom:$input-normal-padding-top-bottom;
                    height:$input-normal-height;
                    color:$input-normal-text-color;
                }

                &-suffix{//input框
                    line-height: 1;
                    margin: 0 8px;
                }

                &::after{
                    content:"";
                    display:block;
                    position:absolute;
                    left:0;
                    right:0;
                    bottom:0;
                    transition:transform $global-transition-duration $global-transition-function $global-transition-delay-time;
                    transform:scaleX(0);
                    border-bottom: 2px solid $primary-color;
                    pointer-events: none;//不会触发时间响应
                }
            }

            &.stylize-filled{
                &.#{$prefix}-is_focus{//聚焦事件样式
                    color:$primary-color;
    
                    .#{$prefix}-wrapper{
                        &::after{
                            transform:scaleX(1);
                        }
                    }
    
                    .#{$prefix}-float-label{
                        transform: translate($input-filled-input-left,$input-filled-float-label-focus-top) scale($input-normal-float-label-scale);
                    }
                }
                &.has-value{
                    color:$primary-color;
    
                    .#{$prefix}-wrapper{
                        &::after{
                            transform:scaleX(1);
                        }
                    }
    
                    .#{$prefix}-float-label{
                        transform: translate($input-filled-input-left,$input-filled-float-label-focus-top) scale($input-normal-float-label-scale);
                    }
                }
                width:$input-filled-width;
                background:none;
                border:none;
                outline:none;
                position: relative;
                background:$input-filled-background-color;
                border-top-left-radius: $global-border-radius;
                border-top-right-radius: $global-border-radius;
                transition:background-color $global-transition-duration $global-transition-function $global-transition-delay-time;

                &:hover{
                    background:$input-filled-hover-background-color;
                }
    
                &.has_float_label{
                    padding-top:$input-filled-container-top;
                }
    
                .#{$prefix}-float-label{
                    position:absolute;
                    left:$input-filled-input-left;
                    line-height: 1;
                    top: 0;
                    transform: translate($input-filled-input-left, $input-filled-float-label-top) scale(1);
                    transition:transform $global-transition-duration $global-transition-function $global-transition-delay-time;
                    transform-origin:top left;
                }
                 
                .#{$prefix}-wrapper{
                    width:100%;
                    position: relative;
                    padding:$input-filled-padding;
                    display: flex;
                    align-items: center;
                    &:hover{
                        &::before{
                            border-bottom:2px solid $input-filled-underline-focus-color;
                        }
                    }
    
                    &::before{
                        content:"";
                        display:block;
                        position:absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        transition: border-bottom-color $global-transition-duration $global-transition-function $global-transition-delay-time;
                        border-bottom:1px solid $input-filled-underline-color;
                        pointer-events: none;//不会触发时间响应
                    }
    
                    &-standInput{//input框
                        width:100%;
                        border:none;
                        background: none;
                        outline:none;
                        padding:0;
                        height:$input-filled-height;
                        color:$input-normal-text-color;
                    }
    
                    &::after{
                        content:"";
                        display:block;
                        position:absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        transition:transform $global-transition-duration $global-transition-function $global-transition-delay-time;
                        transform:scaleX(0);
                        border-bottom: 2px solid $primary-color;
                        pointer-events: none;//不会触发时间响应
                    }
                }
            }

            &.stylize-outline{
                &.#{$prefix}-is_focus{//聚焦事件样式
                    color:$primary-color;
                    border-color:$primary-color!important;
                    .#{$prefix}-wrapper{
                        &::after{
                            transform:scaleX(1);
                        }
                    }
    
                    .#{$prefix}-float-label{
                        transform: translate($input-filled-input-left,$input-filled-float-label-focus-top) scale($input-normal-float-label-scale);
                    }
                }
                &.has-value{
                    color:$primary-color;
    
                    .#{$prefix}-wrapper{
                        &::after{
                            transform:scaleX(1);
                        }
                    }
    
                    .#{$prefix}-float-label{
                        transform: translate($input-filled-input-left,$input-filled-float-label-focus-top) scale($input-normal-float-label-scale);
                    }
                }
                width:$input-filled-width;
                background:none;
                border:none;
                outline:none;
                position: relative;
                background:$input-outline-background-color;
                border-radius: $global-border-radius;
                border:1px solid $input-outline-border-color;
                transition:border-color $global-transition-duration $global-transition-function $global-transition-delay-time;

                &:hover{
                    border-color:$input-outline-border-focus-color;
                }
    
                &.has_float_label{
                    padding-top:$input-filled-container-top;
                    max-height:$input-filled-max-height;
                  
                }
    
                .#{$prefix}-float-label{
                    position:absolute;
                    left:$input-filled-input-left;
                    line-height: 1;
                    top: 0;
                    transform: translate($input-filled-input-left, $input-filled-float-label-top) scale(1);
                    transition:transform $global-transition-duration $global-transition-function $global-transition-delay-time;
                    transform-origin:top left;
                }
                 
                .#{$prefix}-wrapper{
                    width:100%;
                    position: relative;
                    padding:$input-filled-padding;
                    display: flex;
                    align-items: center;
                    &:hover{
                         
                    }
    
                    &::before{
                        content:"";
                        display:none;
                        position:absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        transition: border-bottom-color $global-transition-duration $global-transition-function $global-transition-delay-time;
                        border-bottom:1px solid $input-filled-underline-color;
                        pointer-events: none;//不会触发时间响应
                    }
    
                    &-standInput{//input框
                        width:100%;
                        border:none;
                        background: none;
                        outline:none;
                        padding:0;
                        height:$input-filled-height;
                        color:$input-normal-text-color;
                    }
    
                    &::after{
                        content:"";
                        display:none;
                        position:absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        transition:transform $global-transition-duration $global-transition-function $global-transition-delay-time;
                        transform:scaleX(0);
                        border-bottom: 2px solid $primary-color;
                        pointer-events: none;//不会触发时间响应
                    }
                }
            }
        }
        
}

input::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.38);
}    /* 使用webkit内核的浏览器 */
input:-moz-placeholder{
    color:rgba(0, 0, 0, 0.38);
}                  /* Firefox版本4-18 */
input::-moz-placeholder{
    color:rgba(0, 0, 0, 0.38);
}                  /* Firefox版本19+ */
input:-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.38);
}    