@import "./variable";

.wonderful-notification{
    position: fixed;
    border-radius:$normal-border-radius;
    width: 384px;
    max-width: calc(100vw - 32px);
    transform: all 0.3s;
}

.wonderful-notification-right-top,.wonderful-notification-right-bottom{
    margin-right: 24px;
}

.wonderful-notification-right-top,.wonderful-notification-left-top{
    .wonderful-notice{
        margin-bottom:18px;
    }
}

.wonderful-notification-right-bottom,.wonderful-notification-left-bottom{
    .wonderful-notice{
        margin-top:18px;
    }
}

.wonderful-notification-left-top,.wonderful-notification-left-bottom{
    margin-left: 24px;
}

.wonderful-notification-right-top,.wonderful-notification-right-bottom{

    .item-wrapper_appear{
        animation:notice_appear_right $global-transition-duration $easeInOutFunction 1;
    }

    .item-wrapper_leave{
        animation:notice_leave_right $global-transition-duration $easeInOutFunction 1;
    }

}

.wonderful-notification-left-top,.wonderful-notification-left-bottom{

    .item-wrapper_appear{
        animation:notice_appear_left $global-transition-duration $easeInOutFunction 1;
    }

    .item-wrapper_leave{
        animation:notice_leave_left $global-transition-duration $easeInOutFunction 1;
    }

}
 
.wonderful-notice{
    transform: all 0.3s;
    padding: 16px 24px;
    background-color: $default-color;
    @include boxShadowLevel(5);
    border-radius:$normal-border-radius;
    position:relative;

    .wonderful-notice-content{
        font-size: 14px;

        .wonderful-notice-message{
            display: inline-block;
            margin-bottom: 8px;
            color: rgba(0,0,0,.85);
            font-size: 16px;
            line-height: 24px;
        }
        .wonderful-notice-description{
            font-size: 14px;
        }
        .wonderful-notice-icon{
            margin-right:24px;
        }
        .wonderful-notice-icon-success{
            color:$success-color;
        }
        .wonderful-notice-icon-info{
            color:$info-color;
            
        }
        .wonderful-notice-icon-error{
            color:$danger-color;
        }
        .wonderful-notice-icon-warning{
            color:$warning-color;
        }
        .wonderful-notice-content-close{
            align-self: flex-end;
            margin-top:10px;
        }
    }

    .wonderful-notice-close{
        position: absolute;
        right:24px;
        top:18px;
        color:rgba(0,0,0,.4);
    }
   
}