 

 
.ripple-enter-active, .ripple-exit-active{
    transition: opacity 2s  cubic-bezier(0.23, 1, 0.32, 1), transform .45s  cubic-bezier(0.23, 1, 0.32, 1);
}

.ripple-enter{
    transform:scale(0);
}

.ripple-exit-active{
    opacity: 0 !important;
}
  