@import "./variable";

.wonderful-ripple-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    contain: strict;//不会使页面重绘
    overflow: hidden;
}

.wonderful-circle-ripple{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    user-select: none;
    border-radius: 50%;
    background-color: currentColor;
    background-clip: padding-box;
    opacity: 0;
}
.wonderful-ripple-entering {
    opacity: 0.3;
    transform: scale(1);
    animation: wonderful-ripple-enter $ripple-animation-duration $easeOutFunction;
}

.wonderful-ripple-wrapper-exiting {
    opacity: 0;
    animation: wonderful-ripple-exit $ripple-animation-duration $easeOutFunction;
}

@keyframes wonderful-ripple-enter {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wonderful-ripple-exit {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

