 
.am-carousel {
  position: relative;

  &-wrap {
    font-size: 18;
    color: red;
    background: none;
    text-align: center;
    zoom: 1;
    width: 100%;

    &-dot {
      display: inline-block;
      zoom: 1;

      > span {
        display: block;
        width: 8px ;
        height: 8px ;
        margin: 0px 3px ;
        border-radius:4px;
        background: red;
      }

      &-active {
        > span {
          background: #888;
        }
      }
    }
  }
}