@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-popover";
$prefixClsTooltip:"#{$global-prefix}-tooltip";

.#{$prefixCls}{

   

    &-inner{

        &-title{
            min-width: 188px;
            min-height: 26px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 500;
            padding: 0px 12px 5px;
            border-bottom: 1px solid #f0f0f0;
        }
        

        &-content{
            padding: 10px 12px;
            color: rgba(0,0,0,.65);
        }
    }

     
}

 
 
 


