@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-backdrop";

.#{$prefixCls}{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: fixed;
   
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-tap-highlight-color: transparent;
    z-index:$global-backdrop-zindex;

    &-centered{
        @include flexbox();
    }
}

 
 
 


