 
.testPaper{
    width:200px;
    height:200px;
}

@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-paper";

.#{$prefixCls}{

    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;

    &-round{
        border-radius: 4px;
    }

    @for $i from 0 through 24 {
        &-deep-#{$i} {
            @include boxShadowLevel($i)
        }
    }

    &-deepDirection{

        &-left{
            box-shadow:-2px 0 2px -1px rgba(0, 0, 0, 0.2);
        }

        &-right{
            box-shadow:2px 0 2px -1px rgba(0, 0, 0, 0.2);
        }
        
    }   

    
}