 
 .container{
     width:100%;
     padding: 24px;
     background-color: #f5f5f5;
     height:100%;
 }

@import "../Theme/styles/variable";

$prefixCls:"#{$global-prefix}-collapse";
$prefixClsPanel:"#{$global-prefix}-collapse-panel";

.#{$prefixCls}{

    background-color: transparent;

    .#{$prefixClsPanel}{

        border-bottom: 1px solid rgba(0,0,0,.2);

        .wonderful-icon{
            transition: transform .3s;
        }

        &-disabled{
            
            opacity: 0.38;
            .#{$prefixClsPanel}-header{
                background-color: $disabled-color;   
            }
            .#{$prefixClsPanel}-content{
                background-color: $disabled-color;   
            }
        }

        &-isActive{
            .wonderful-icon{
                transform: rotate(-180deg);
            }
            &.#{$prefixClsPanel}{
                border-bottom: 1px solid rgba(0,0,0,.2);
            }
            
        }
        

        &-header{
            display: flex;
            padding: 8px 16px;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

           
        }

        

        &-content{
            display: flex;
            padding: 12px 16px;
        }

    }
}