@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-input";//主
$prefixClsInputWrapper:"#{$prefixCls}-inputwrapper";//主

.#{$prefixCls}{
    position: relative;
    display:flex;
    overflow: hidden;

    &-disabled{
        background-color: rgba(0,0,0,0.1);

        input{
            cursor: not-allowed;
        }

        >*{
            cursor: not-allowed;
        }
    }

    &-active{
        .#{$prefixClsInputWrapper}{
            &:not(.parrot-input-disabled):after{
                transform: scaleX(1);
            }
        }
    }
   
    &-suffix,&-prefix{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        min-width: 16px;
    }

    &-suffix{
        margin-right: 6px;
        flex:none;
    }
    &-prefix{
        margin-left:6px;
        // margin-right: 6px;
        flex:none;
    }

    &-inputwrapper{
        position: relative;
        width:100%;
        display: flex;

        &:before{
            content: "";
            display: block;
            left:0;
            right:0;
            bottom:0;
            border-bottom:1px solid rgba(0,0,0,.45);
            position: absolute;
            pointer-events: none;
            transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        &:after{
            content: "";
            display: block;
            left:0;
            right:0;
            bottom:0;
            transform: scaleX(0);
            border-bottom:2px solid $primary-color;
            position: absolute;
            pointer-events: none;
            transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }
        
        &:not(.parrot-input-disabled):hover{
            &::before{
                border-bottom:2px solid rgba(0,0,0,.86);
            }        
        }

      
        input,textarea{
            font:inherit;
            color:currentColor;
            outline: none;
            border:0;
            min-height:32px;
            max-width:100%;
            background: none;
            flex:1;
            line-height:1.5;
        }

        input{
            padding:6px 2px;
            width:100%;
            background: none;
            line-height:1.5;
        }
        textarea{
            padding:6px 20px 6px 6px;
        }
    
    }

    &-border{
        .#{$prefixClsInputWrapper}{

            input{
                padding:6px 10px;
            }

            &:before{
                top:0;
                border-radius: 4px;
                border:1px solid rgba(0,0,0,.45);
                transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }
    
            &:after{
                top:0;
                border:2px solid $primary-color;
                border-radius: 4px;
            }
            
            &:not(.parrot-input-disabled):hover{
                &::before{
                    border:2px solid rgba(0,0,0,.86);
                }        
            }
        
        }
    }

    &-small{
        input{
            padding:2px 2px;
            height:24px;
        }
        
        &.#{$prefixCls}-border{
            input{
                padding:2px 6px;
                height:24px;
            }
        }
        
    }

    &-large{

        input{
            padding:10px 2px;
            height:40px;
        }
        
        &.#{$prefixCls}-border{
            input{
                padding:10px 12px;
                height:40px;
            }
        }
        
    }
}

 
 
 


