@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-badge";
$scrollNumOnlyPrefixCls:"#{$global-prefix}-scroll-number-only";
$scrollNumPrefixCls:"#{$global-prefix}-scroll-number";

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}


.#{$prefixCls}{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    color: unset;
    line-height: 1;

    &-status{
        line-height: inherit;
        vertical-align: baseline;
    }

    &-status-dot{
        position: relative;
        top: -1px;
        display: inline-block;
        width: 8px;
        height: 8px;
        min-width:8px;
        vertical-align: middle;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #fff;

        &:after{
            top: 0;
            left: 0;
            width: 100%;
            border: 1px solid currentColor;
            height: 100%;
            content: "";
            position: absolute;
            animation: wave 1.2s infinite ease-in-out;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }

    &-status-text{
        margin-left: 8px;
        color: rgba(44, 24, 24, 0.65);
        font-size: 14px;
    }

    &-success{
        background-color: $success-color;
        color:$success-color;
    }

    &-primary{
        background-color: $primary-color;
        color:$primary-color;
    }

    &-danger{
        background-color: $danger-color;
        color:$danger-color;
    }

    &-second{
        background-color: $second-color;
        color:$second-color;
    }

    &-info{
        background-color: $info-color;
        color:$info-color;
    }

    &-warning{
        background-color: $warning-color;
        color:$warning-color;
    }

    &-default{
        background-color: $default-color;
        color:$default-color;
    }

    &-dot{
        z-index: auto;
        width: 6px;
        height: 6px;
        background: $danger-color;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 1px #fff;
        box-shadow: 0 0 0 1px #fff;
    }

    &-count,.#{$scrollNumPrefixCls}-custom-component,&-dot{
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
    }

    .#{$scrollNumPrefixCls}-custom-component{
        &.wonderful-icon{
            font-size: 14px!important;
            color:$danger-color;
        }
    }

    

    &-count{
        height:20px;
        min-width:20px;
        padding:0 6px;
        color:rgba(255,255,255,1);
        font-weight:400;
        font-size:12px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
        border-radius: 10px;
        background-color: $danger-color;
        position: absolute;
        overflow: hidden;

       


        .#{$scrollNumOnlyPrefixCls}{
            display: inline-block;
            height:20px;
            transition: all .3s cubic-bezier(.645,.045,.355,1);

            &-unit{
                height: 20px;
                margin: 0;
            }
            
        }
    }

    &-multiple-words{
        padding:0 8px;
    }

    &-not-a-wrapper{
        .#{$prefixCls}-count{
            position: relative;
            top: auto;
            display: block;
            transform:none;
        }
    }
}

.site-badge-count-4 .parrot-badge-count {
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
}
 
 
 


