@import "./../components/styles/variable.scss";

$prefixCls:"#{$global-prefix}-badge";
$scrollNumOnlyPrefixCls:"#{$global-prefix}-scroll-number-only";
$scrollNumPrefixCls:"#{$global-prefix}-scroll-number";

.#{$prefixCls}{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    color: unset;
    line-height: 1;

    &-dot{
        z-index: auto;
        width: 6px;
        height: 6px;
        background: $danger-color;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 1px #fff;
        box-shadow: 0 0 0 1px #fff;
    }

    &-count,.#{$scrollNumPrefixCls}-custom-component,&-dot{
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
    }

    .#{$scrollNumPrefixCls}-custom-component{
        &.wonderful-icon{
            font-size: 14px!important;
            color:$danger-color;
        }
    }

    

    &-count{
        height:20px;
        min-width:20px;
        padding:0 6px;
        color:rgba(255,255,255,1);
        font-weight:400;
        font-size:12px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
        border-radius: 10px;
        background-color: $danger-color;
        position: absolute;
        overflow: hidden;

       


        .#{$scrollNumOnlyPrefixCls}{
            display: inline-block;
            height:20px;
            transition: all .3s cubic-bezier(.645,.045,.355,1);

            &-unit{
                height: 20px;
                margin: 0;
            }
            
        }
    }

    &-multiple-words{
        padding:0 8px;
    }

    &-not-a-wrapper{
        .#{$prefixCls}-count{
            position: relative;
            top: auto;
            display: block;
            transform:none;
        }
    }
}

.site-badge-count-4 .parrot-badge-count {
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
}
 
 
 


